* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#rect{
  width: 200px;
  height: 250px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
